{{ define "title" }}Home{{ end }}

{{ define "main" }}
    <h2>Home</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur debitis deleniti dolor dolorum eos error eum harum hic ipsam numquam officiis quae quaerat, quam quisquam quos repellendus soluta tempora!</p>
{{ end }}