{{define "title"}}User Create{{end}}

{{define "main"}}
    <h2>Create User</h2>
    <form action="">
        <div>
            <label for="name">Name: </label>
            <input id="name" type="text" name="name">
        </div>

        <div>
            <button type="submit">Save</button>
        </div>
    </form>
{{end}}